# Ignore all the windows tools except the 7zip folder:
tools/windows/*
!tools/windows/7zip-*
tools/linux/*

# ignore no-default python versions:
tools/packages/python-3.7.9-windows.7z
tools/packages/python-3.9.13-windows.7z
tools/packages/python-3.11.8-windows.7z
tools/packages/python-3.11.8-linux.tar.xz
tools/packages/python-3.12.4-windows.7z
tools/packages/python-3.12.4-linux.tar.xz

# Ignore compiled python files:
*.pyc

# Ignore config.user.json file:
config.user.json

# ignore everything in the libraries folder:
libraries/*

# Ignore log files:
*.log

# Ignore dist/bin:
dist/bin/*

# Ignore build folder:
build/

# Ignore the python envs
.pyenvs/

# Ignore the nodejs envs
.nodeenvs/

# Ignore the vscode settings
.vscode/settings.json

# Ignore data folder:
data/
