# Ignore all the windows tools except the 7zip folder:
tools/windows/*
!tools/windows/7zip-*
tools/linux/*

# Ignore compiled python files:
*.pyc

# Ignore config.user.json file:
config.user.json
