# This file list the requirements for python environment in Nervland:
pylint
autopep8
black
isort
flake8
cmake_format
jstyleson
pyyaml
requests
xxhash
moviepy
pillow
ffmpeg-python
numpy
deep-translator
opencv-python
pandas
pytest
# cryptography
# rsa
pycryptodome
psutil
PyQt5
